extends layout

block content
  h1 TheBrothersGrimoire Leaderboards
  ul
    li
      a(href='/pvp') PvP
    li
      a(href='/raid') Raid
    li
      a(href='/pve') PvE
    li
      a(href='/trials') Trials
