doctype html
html
  head
    title TheBrothersGrimoire Leaderboards
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.is-light(role="navigation" aria-label="main navigation")
      .navbar-menu
        a.navbar-item(href='/pvp') PvP
        a.navbar-item(href='/pve') PvE
        a.navbar-item(href='/raid') Raid
        a.navbar-item(href='/trials') Trials
    section.section
      .container
        block content
